<div class="content-container">
  <div class="content-area">

    <p>
      Game autosave every 3 minutes. You can also maually save, load and export savegames. Save are stored
      in localstorage.
    </p>
    <strong>Clear button delete everything !</strong>

    <div class="form-group">
      <button class="btn btn-success" (click)="save($event)">Save</button>
      <button class="btn btn-primary" (click)="load($event)">Load</button>
      <button class="btn btn-danger" (click)="clear($event)">Clear</button>
    </div>
    <div class="form-group">
      <h5>Export / Import Save</h5>
      <label for="save">Save</label>
      <textarea ref-textarea class="form-control" rows="1" id="save" [(ngModel)]="stringSave"></textarea>
      <button class="btn btn-success" (click)="export($event)">Export</button>
      <button class="btn btn-primary" (click)="import($event)">Import</button>
    </div>

    <p>
      Game version: (beta) 0.0.4
    </p>
    Changelog: 0.0.4
    <ul>
      <li>Scrolling left bar</li>
      <li>Fixed various texts</li>
      <li>Added alert for missing Travel research in travel tab</li>
    </ul>
    Changelog: 0.0.3
    <ul>
      <li>Better firefox support (still working)</li>
      <li>Grammar</li>
      <li>Reduced effect of evolution</li>
    </ul>
    Changelog: 0.0.2
    <ul>
      <li>Fixed University production</li>
      <li>Hive bee require less honey</li>
      <li>Fixed Crab nest pre-requisite</li>
      <li>Reduced experience gain on high levels</li>
    </ul>
  </div>
</div>
