.notEnought {
  color: #f52f22;
}
.toggle {
  margin-bottom: 10px;
}
.numIn {
  width: 30px;
}

.card-title {
  display: inline;
}

.toggle-switch {
  display: inline;
  float: right;
  margin-right: 0;
}

.no-margin {
  margin-top: 0px !important;
}
