.notEnought{
  color:#F52F22;
}
.toggle{
  margin-bottom: 10px;
}
.numIn{
  width:30px;
}

.card-title{
  display:inline;
}

.toggle-switch{
  display:inline;
  float:right;
}

.no-margin{
  margin-top:0px !important;
}
