$height: 24px;
.nav-text,
.nav-link,
.nav-group-content,
.nav-group-trigger {
    height: $height !important;
    line-height: $height;
}

.clr-vertical-nav {
   width: 320px !important;
   padding-top: 12px;
   height: calc(100vh - 60px) !important;
}

//clr-vertical-nav[_ngcontent-c1]

.resName{
  display: inline-block;
  width: 50%;
}
.perSec{
  width: 25%;
  display: inline-block;
}

.content-area {
  max-height: calc(100vh - 60px) !important;
}
