$height: 24px;
.nav-text,
.nav-link,
.nav-group-content,
.nav-group-trigger {
    height: $height !important;
    line-height: $height;
}

.clr-vertical-nav {
   width: 320px !important;
   padding-top: 12px;
   //height: calc(100vh - 108px) !important;
  //  display:block !important;
  //  overflow-y: scroll;
}

.resName{
  display: inline-block;
  width: 50%;
}
.perSec{
  width: 25%;
  display: inline-block;
}

// .content-area {
//   max-height: calc(100vh - 108px) !important;
// }

.unit-group{
  margin-left: -21px !important;
}

.clr-treenode-link.active{
  background-color: #fafafa;
}

.experience{
  margin-left: 30px !important;
}
// .clr-treenode-link{
//   height:auto;
// }

// :host /deep/ .nav-content{
//   min-height: 500px;
//   display:block !important;
//   overflow-y: hidden  !important;
// }

// :host /deep/ .clr-treenode-content{
//   line-height:25px !important;
// }
