$height: 24px;
.nav-text,
.nav-link,
.nav-group-content,
.nav-group-trigger {
    height: $height !important;
    line-height: $height;
}

.clr-vertical-nav {
   width: 320px !important;
   padding-top: 12px;
}

.resName{
  display: inline-block;
  width: 50%;
}
.perSec{
  width: 25%;
  display: inline-block;
}

.unit-group{
  margin-left: -28px !important;
  // font-size:13px;
}

// .clr-treenode-link.active{
//   background-color: #fafafa;
// }

.experience{
  margin-left: 30px !important;
}

.clr-treenode-link{
  height:auto;
}
