$height: 24px;
.nav-text,
.nav-link,
.nav-group-content,
.nav-group-trigger {
    height: $height !important;
    line-height: $height;
}

.clr-vertical-nav {
    // width: 280px !important;
    padding-top: 12px;
}