<div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="2">
        <clr-vertical-nav-group routerLinkActive="active" *ngFor="let list of typeLists | filterListNotEmpty">
            <span clrVerticalNavLink>
        <!-- <clr-icon shape="user" clrVerticalNavIcon></clr-icon> -->
        {{list.type}}
      </span>
            <clr-vertical-nav-group-children *clrIfExpanded="true">
                <a clrVerticalNavLink routerLink="./unit/pidgey" [routerLink]="['./unit/'+g.id]" routerLinkActive="active" *ngFor="let g of list.list | filterMax" class="text-capitalize">

                    <clr-icon class="is-info" shape="angle-double" [style.visibility]="g.haveUp() ? 'visible' : 'hidden'"></clr-icon>
                    <!-- <clr-icon class="alert-icon is-error" shape="exclamation-triangle" [style.visibility]="g.isEnding() ? 'visible' : 'hidden'"></clr-icon>
                    <clr-icon class="is-warning is-solid" shape="pause" [style.visibility]="g.isStopped() ? 'visible' : 'hidden'"></clr-icon> -->

                    <!-- <clr-icon class="is-info" shape="angle-double" *ngIf="g.haveUp()"></clr-icon> -->
                    <clr-icon class="alert-icon is-error" shape="exclamation-triangle" *ngIf="g.isEnding()"></clr-icon>
                    <clr-icon class="is-warning is-solid" shape="pause" *ngIf="g.isStopped()"></clr-icon>
                    {{g.name}} - {{g.quantity | format}}

                </a>
            </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
    </clr-vertical-nav>
</div>