$height: 24px;
.nav-text,
.nav-link,
.nav-group-content,
.nav-group-trigger {
    height: $height !important;
    line-height: $height;
}

@media only screen and (min-device-width: 750px) {
    .clr-vertical-nav {
        width: 320px !important;
    }
}

.clr-vertical-nav {
    padding-top: 12px;
}

.resName {
    display: inline-block;
    width: 50%;
}

.perSec {
    width: 25%;
    display: inline-block;
}

.unit-group {
    margin-left: -35px !important;
}

.experience {
    margin-left: 30px !important;
}

.clr-treenode-link {
    height: auto;
}
