<div class="content-container">
    <div class="content-area">
        <h1>Here, scientist discuss about things no one has seen before.</h1>
        <div class="toggle-switch">
            <input type="checkbox" id="toggle_1" [(ngModel)]="resDone">
            <label for="toggle_1">Show research done</label>
        </div>

        <div class="card-columns card-columns-2">
            <app-action [action]="res" *ngFor="let res of gameService.game.resList | resPipe: resDone"></app-action>
        </div>

    </div>
</div>
