<div class="content-area">
  <router-outlet></router-outlet>
</div>
<clr-vertical-nav>
  <a clrVerticalNavLink routerLink="./save" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="floppy"></clr-icon>
    Save
  </a>
  <a clrVerticalNavLink routerLink="./ui" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="ruler-pencil"></clr-icon>
    Ui
  </a>
  <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
    Credit
  </a>
</clr-vertical-nav>
